<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Star Wars Character</title>
  </head>
  <body>
    <h1><%= person.name %></h1>
    <h3><%= person.gender %></h3>
    <h3>born: <%= person.birth_year %></h3>

    <p>Physical Characteristics:</p>
    <ul>
      <li>height: <%= person.height %></li>
      <li>mass: <%= person.mass %></li>
      <li>hair: <%= person.hair_color %></li>
      <li>skin: <%= person.skin_color %></li>
      <li>eyes: <%= person.eye_color %></li>
    </ul>
  </body>
</html>
